* text=auto

*.sh text eol=lf
bin/* text eol=lf
*.py text eol=lf
*.service text eol=lf
*.json text eol=lf
*.md text eol=lf
*.css text eol=lf
*.js text eol=lf
*.html text eol=lf
*.example text eol=lf
.env* text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
.gitkeep text eol=lf
requirements.txt text eol=lf
VERSION text eol=lf
LICENSE text eol=lf

*.pcd binary
*.part-* binary
*.so binary
